
<form class="form-container">
  <input class="input-text" type="text" placeholder="Nome"/>
  <input class="input-text" type="email" placeholder="E-mail"/>
  <input class="input-text" type="number" placeholder="Telefone"/>
  <div class="check-container">
  <div>
    <input type="checkbox"/>
    <label >Quero reeceber notificações</label>
  </div>
  <div>
    <input type="checkbox"/>
    <label >Li e aceito os termos de uso</label>
  </div>
  </div>
  <button (click)="finalizar()">Finalizar cadastro</button>
</form>

